*
{
  font-family: sans-serif;
}
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background:#101010; 
}
.form
{
    width: 400px;
    margin-top :5%;
    margin-left: 30%;
    color: white;
}
.textboxd textarea
{
    background: #333;
    color: #4caf50;
}
#time
{
    color: #4caf50;
    font-size: 15px;
    padding-right: 8px;
}
.form h1
{
    float: left;
    font-size: 40px;
    border-bottom: 4px solid #4caf50;
    margin-bottom: 5px;
    padding-bottom: 13px 0;
}
.textbox label
{
    border: none;
    background: none;
    outline: none;
    font-size: 15px;
    color: #4caf50;
}
.container {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    color: #4caf50;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 2px;
    height: 15px;
    width: 15px;
    background-color: #4ca450;
    border-radius: 50%;
  }
  
  .container:hover input ~ .checkmark {
    background-color: #333;
  }
  .textbox p
  {
      color: #4caf50;
  }
  .container input:checked ~ .checkmark {
    background-color: #4caf50;
  }
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  .topNavigationBar a
{
    text-decoration: none;
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
}
.topNavigationBar i
{
    text-align: center;
    color: whitesmoke;
    font-size: 15px;
    padding-right: 5px;
}

.topNavigationBar
{
    background: #333;
    position: fixed;
    width: 100%;
    height: 50px;
    top: 2px;
    margin-left: 0px;
   
}

.topNavigationBar th
{
    height: 100%;
    font-family: sans-serif;
    font-size: 15px;

}
.topNavigationBar th:hover
{
    height: 100%;
    background:#47d147;
}
.topNavigationBar table
{
    
    width: 100%;
    height: 100%;
    padding-left: 0%;
    margin-left: 0%;
}
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  #active
  {
      background: #47d147;
  }
  .active
  {
      background-color: #47d147;
      color: #47d147;
  }
 

  .container .checkmark:after {
       top: 4px;
      left: 4px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
  }
.textbox4 p
{
color: #4caf50;
}
.dropdown select
{
    padding-left: 0px;
}
#dropdown
{
    background: #4caf50;
    margin-left: 118px;
}
.textbox input
{
    border: none;
    float: right;
    background: none;
    outline: none;
    font-size: 15px;
    width: 180px;
    color: #4caf50;
}
.container1 {
    display: block;
    position: relative;
    padding-left: 40px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .container1 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
 .checkmark1 {
    position: absolute;
    top: 0;
    left: 2px;
    height: 20px;
    width: 20px;
    background-color: #333;
  }
  
  .container1:hover input ~ .checkmark1 {
    background-color: wheat;
  }
  

  .container1 input:checked ~ .checkmark1 {
    background-color: #4caf50;
  }

  .checkmark1:after {
    content: "";
    position: absolute;
    display: none;
  }

  .container1 input:checked ~ .checkmark1:after {
    display: block;
  }
  

  .container1 .checkmark1:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }